
@keyframes rotate-animation {
    0% {transform: rotate(90deg);}
1.639344262295082% {transform: rotate(95.90163934426229deg);}
3.278688524590164% {transform: rotate(101.80327868852459deg);}
4.918032786885246% {transform: rotate(107.70491803278688deg);}
6.557377049180328% {transform: rotate(113.60655737704919deg);}
8.19672131147541% {transform: rotate(119.50819672131148deg);}
9.836065573770492% {transform: rotate(125.40983606557377deg);}
11.475409836065573% {transform: rotate(131.31147540983608deg);}
13.114754098360656% {transform: rotate(137.21311475409837deg);}
14.754098360655737% {transform: rotate(143.11475409836066deg);}
16.39344262295082% {transform: rotate(149.01639344262296deg);}
18.0327868852459% {transform: rotate(154.91803278688525deg);}
19.672131147540984% {transform: rotate(160.81967213114754deg);}
21.311475409836063% {transform: rotate(166.72131147540983deg);}
22.950819672131146% {transform: rotate(172.62295081967213deg);}
24.59016393442623% {transform: rotate(178.52459016393442deg);}
26.229508196721312% {transform: rotate(184.42622950819674deg);}
27.86885245901639% {transform: rotate(190.327868852459deg);}
29.508196721311474% {transform: rotate(196.22950819672133deg);}
31.147540983606557% {transform: rotate(202.1311475409836deg);}
32.78688524590164% {transform: rotate(208.0327868852459deg);}
34.42622950819672% {transform: rotate(213.93442622950818deg);}
36.0655737704918% {transform: rotate(219.8360655737705deg);}
37.704918032786885% {transform: rotate(225.7377049180328deg);}
39.34426229508197% {transform: rotate(231.63934426229508deg);}
40.98360655737705% {transform: rotate(237.54098360655738deg);}
42.62295081967213% {transform: rotate(243.44262295081967deg);}
44.26229508196721% {transform: rotate(249.34426229508196deg);}
45.90163934426229% {transform: rotate(255.24590163934425deg);}
47.540983606557376% {transform: rotate(261.1475409836065deg);}
49.18032786885246% {transform: rotate(267.04918032786884deg);}
50.81967213114754% {transform: rotate(272.95081967213116deg);}
52.459016393442624% {transform: rotate(278.8524590163935deg);}
54.09836065573771% {transform: rotate(284.75409836065575deg);}
55.73770491803278% {transform: rotate(290.655737704918deg);}
57.377049180327866% {transform: rotate(296.55737704918033deg);}
59.01639344262295% {transform: rotate(302.45901639344265deg);}
60.65573770491803% {transform: rotate(308.3606557377049deg);}
62.295081967213115% {transform: rotate(314.2622950819672deg);}
63.934426229508205% {transform: rotate(320.1639344262295deg);}
65.57377049180327% {transform: rotate(326.0655737704918deg);}
67.21311475409836% {transform: rotate(331.9672131147541deg);}
68.85245901639344% {transform: rotate(337.86885245901635deg);}
70.49180327868852% {transform: rotate(343.7704918032787deg);}
72.1311475409836% {transform: rotate(349.672131147541deg);}
73.77049180327869% {transform: rotate(355.5737704918033deg);}
75.40983606557377% {transform: rotate(361.4754098360656deg);}
77.04918032786885% {transform: rotate(367.37704918032784deg);}
78.68852459016394% {transform: rotate(373.27868852459017deg);}
80.32786885245902% {transform: rotate(379.1803278688525deg);}
81.9672131147541% {transform: rotate(385.08196721311475deg);}
83.60655737704919% {transform: rotate(390.9836065573771deg);}
85.24590163934425% {transform: rotate(396.88524590163934deg);}
86.88524590163934% {transform: rotate(402.7868852459016deg);}
88.52459016393442% {transform: rotate(408.6885245901639deg);}
90.1639344262295% {transform: rotate(414.59016393442624deg);}
91.80327868852459% {transform: rotate(420.4918032786885deg);}
93.44262295081968% {transform: rotate(426.39344262295083deg);}
95.08196721311475% {transform: rotate(432.2950819672131deg);}
96.72131147540983% {transform: rotate(438.1967213114754deg);}
98.36065573770492% {transform: rotate(444.0983606557377deg);}
100% {transform: rotate(450deg);}
}

/*

code for generating keyframes
for (i=0;i<62;i++) {
console.log((i/61)*100 + '% {transform: rotate('+(((i/61)*360+90))+'deg);}');
}*/
