<!doctype html>
<html ng-app="clock">

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Clock input</title>
      <meta name="description" content="food">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=no">
      <link rel="shortcut icon" href="favicon.ico" />
      <meta property="og:url" content="" />
      <meta property="og:type" content="Clock input" />
      <meta property="og:title" content="Clock input" />
      <meta property="og:site_name" content="Luncher" />
      <meta property="og:description" content="foo" />
      <meta property="og:image" content="" />
      <meta property="og:image:url" content="" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      <meta property="og:image:type" content="image/png" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/main.css">

      <style>
      .submitbutton {
            background:red;
            display:inline-block;
            padding:10px 14px;
            font-size:24px;
            font-family:'Arial', Helvetica, sans-serif;
            margin:50px;
      }
      </style>
</head>

<body id="top" ng-class="{'body--dialog-open':(selectedIndex.current != -1)}" ng-controller="index">

      <div class="submitbutton" ng-click="onSubmitClick()">Start Clock</div>
<br><br>
 
            <div class='tmr-poster' ng-repeat="item in topics" style="display:inline-block">
   <h2>{{item.title}}</h2>
                  <img src="{{item.imgAddr}}" />                  
                        <button ng-click="removeTopic(item.key)">delete</button>
            </div>
    





      <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
      <!--Jquery-->
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <!--Angular-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js"></script>
      <!--Chroma JS-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.3/chroma.min.js"></script>
      <!--AppJS-->
      <script src="js/appInput.js"></script>

</body>

</html>